<!DOCTYPE HTML>
<html>
  <head>
    <title>Add Alert!</title>
    <meta charset="urf-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/img/crimheader.jpg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'watch_out_app/css/addalert.css' %}">

      <script>

        $( document ).ready(function() {
          console.log( "document loaded" );
          $('#alertform').on('submit', function(e) {
            //the variable 'this' refers to the form action, we are saving this in order to trigger the form submission later on in the geoding callback function
            var formaction = this;
            e.preventDefault();
            console.log('called')
            var address = document.getElementById('address').value;
            var data;
            geocodeAddress(address, function(data){
                //Data is the resulting long and lat from user input address
                console.log(data);
                //all teh data for the form including long and lat
                var passdata = $('#alertform').serializeArray();
                console.log(passdata)
                //form is submitted in the callback function after the geocode is done running
                formaction.submit();

            });

          });
        });

        function geocodeAddress(address, callback){
            var geocoder = new google.maps.Geocoder();
            console.log(address)
            geocoder.geocode({'address': address}, function(results, status) {
              if (status === 'OK') {
                //console.log(results[0].geometry.location)
                var loclat = results[0].geometry.location.lat();
                var loclng = results[0].geometry.location.lng();
                console.log("geod: ", loclat, loclng);
                $('#lat').attr('value', ''+loclat);
                $('#lng').attr('value', ''+loclng);
                callback({lat: loclat, lng: loclng});
              } else {
                alert('Geocode was not successful for the following reason: ' + status);
                console.log(status);
              }
            });
        }
      </script>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <a href="/crimes"><button class="btn btn-default btn1">Return to main page</button></a>
        <a href="/login"><button type="button" class="btn btn-default btn2">Login</button></a>
        <a href="/registration"><button type="button" class="btn btn-default btn2">Register</button></a>
      </div>
      <div id="content">
        <h1>Watchout!</h1>
        <h3>Crime activity monitor near your location!</h3>
        <form id="alertform" action="/addalert/process" method="post">
          {% csrf_token %}
          <p>Location: </p>
          <input class="form-control txt1" id="address" type="text" name="address" placeholder="Location"><br>
          <input class="form-control txt1" type="date" name="date">
          <input id="lng" name="lng" type="hidden"  value=""  />
          <input id="lat" name="lat" type="hidden"  value="" />
          <br>
          <p>Crime Type: </p>
          <select class="form-control drop1" name="type">
            <option value="Arrest">Arrest</option>
            <option value="Arson">Arson</option>
            <option value="Assult">Assult</option>
            <option value="Burglary">Burglary</option>
            <option value="Robbery">Robbery</option>
            <option value="Shooting">Shooting</option>
            <option value="Theft">Theft</option>
            <option value="Vandalism">Vandalism</option>
            <option value="Others">Others</option>
          </select>
          <br>
          <p>Description: </p>
          <textarea class="form-control description" rows="3" name="description" placeholder="Please describe the incident" rows="5" cols="75"></textarea><br>
          <input class="btn btn-default btn3" type="submit" value="Add Alert">
        </form>
      </div>
      <div id="map" style=" width: 820px; height: 500px;"></div>

      <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCm0CIWG6AZ7uLfzCSDNxL7PueiTOTNCF4">
      </script>
      </div>
    </div>
    </div>
  </body>
</html>
