<!DOCTYPE HTML>

<html>

<head>
    <title>WATCH OUT!</title>
    <meta charset="urf-8">
    <script type="text/javascript"></script>

</head>

<body>

  <div id="header">
    <h1>Watchout!</h1>
    <h3>Crime activity monitor near your location!</h3>
    <a href="/login"><button>LOGIN</button></a>
    <a href="/login"><button>REGISTER</button></a>
  </div>


  <div id="content">
    <h1>This is the crime!</h1>
    <h3>This is the location</h3>
    <div>Checkout location on this map</div>
    <p>This is the description of the crime</p>
    <br>
    <p>Thnk you saw something about this incident? contact local police at <a href="">???</a></p><br>

    <hr>
    <p>See something suspicious? Add an alert!</p>
    <a href="/addalert"><button>Add Alert</button></a>

  </div>
